# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Jupyter / notebooks
.ipynb_checkpoints/

# Logs
*.log
